@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=Roboto:ital,wght@0,100;0,400;0,900;1,400;1,900&display=swap');



body {
    background: rgb(59,68,127);
    background: linear-gradient(137deg, rgba(59,68,127,1) 0%, rgba(101,22,80,1) 100%); 
   
    margin:  0;
    padding: 0;

    display:  flex;
    align-items: center;
    min-height:  100vh; 
    font-family: 'Roboto', sans-serif;

}

.mainloginBox {
            width: 200px;
           /*
            border-width: 1px;
            border-color:  red;
            border-style: solid;
            */
            margin: auto; 
            

}

    /* user Photo */


.userPhoto {
    color: white;
width: 65px;
        height: 65px;

border-width: 2px;
border-color: white;
border-style: solid;
border-radius: 100%;
     display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; 

}

.userPhoto .fa-user-astronaut {

        font-size: 45px;  /* icon size*/
    
    
}

      /* header */ 

      .mainloginBox h1 {
           color: white;
           text-align: center;
           font-weight: 100;
           text-transform: capitalize;

           position: relative;
           overflow: hidden;

      }

      .mainloginBox h1:before, h1:after {
position:  absolute;
top: 51%;
overflow: hidden;
width:  50%;
height: 1px;
content: '\a0';
background-color: white;


}
.mainloginBox h1:before {
margin-left: -50%;
text-align: right;

}

/*form*/

 form input{ 
     width: 100%;
     height: 25px;
     box-sizing: border-box;
     margin-bottom: 10px;
     border-radius: 3px;
 }




 input[name="username"], input[name=password]{
     color: white;
     background-color: #68599c;
     border: 1px solid #68599c;
   
     outline: none;

    


 }


 input[name="username"]::placeholder, input[name=password]::placeholder{
    color: white;
    front width: 100;
    front-family: 'Roboto', sans-serif;
 }

 input[name="username"]:focus, input[name=password]:focus{
    outline-width: 1px;
    outline-color:white ;
    outline-style: solid;

}

input[type="button"] {
    background-color:#fcb13a;
    border: 0;
    text-transform: capitalize;

}

/* LINKS*/
.links{
       color: white;
       font-size: 9px;
       display: flex;
       justify-content: space-between;
       align-items: center;

       margin-bottom: 40px;

}

.links div{
        display: flex;
        align-items: center;
}





input[type="checkbox"]{
    -o-appearance:none;
    outline:none;
    content:none;
}


input[type="checkbox"]:before{
    font-family: "FontAwesome";
    content: "\f00c";
    font-size:  11px;
    color: transparent;
    background: #68599c;
    display: block;
    width: 11px;
    height: 11px;
    border: 1px solid white;
    margin-right: 7px;


}

input[type="checkbox"]:checked:before {
        color:white !important;

}
.lnkForgotPassword {
    color: white;
    text-decoration: none;
    font-size: 11px;
}
.lnkForgotPassword:hover, .lnkCreateAccount:hover {
     text-decoration: underline;
     text-decoration-color: #fcb13a;
     text-decoration-style: dotted;


}
/* FOOTER*/

.footer{
    border-top: 1px solid white;
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 5px;
    font-weight: 100;

}

.lnkCreateAccount{
    color: #fcb13a;
    font-size: 12px;
    text-decoration: none;

}










