:root {
      --main-color: rgb(218, 59, 194);

}


/* menu*/
nav {
      display: flex;
      justify-content: space-between;

}

nav img {
      width: 75px;

}

nav ul {
      padding: 0;
      margin: 0;


}




nav ul li {
      display: inline-block;
      list-style-type: none;
      width: 75px;
      text-align: center;
}

nav ul li a {

      text-decoration: none;
      color: black;
      /* font-weight:  bold; */
}

nav ul li a:hover {
      text-decoration: none;
      background-color: antiquewhite;


}



nav ul li:last-child {
      background-color: rgb(218, 59, 194);
      color: white;
      text-transform: uppercase;
      font-size: 12px;
      border-radius: 15px;
      padding: 5px;

}

.dropdown-content{
           display: none;
           position: absolute;
           box-shadow: 5px 5px 15px 2px #000000;;
           z-index: 1;
           background-color: white;
           width: 125px;
       
}

.dropdown-content a {

      width: 100%;
      display: block;
      text-align: left;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;


      box-sizing: border-box;



}

.dropdown:hover .dropdown-content {
            display: block;

}




/* header slider */

.slider {
      height: 350px;
      background-image: url('../img/cafe_.jpg');

      background-repeat: no-repeat;
      background-size: cover;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
}


.slideBoxes {
      display: flex;
      justify-content: center;


}


.slideBoxes div {
      background-color: white;
      display: inline-block;
      width: 200px;
      text-align: center;
      padding: 15px;

}

.slideBoxes div:nth-child(2) {
      background-color: gainsboro;

}

.slideBoxes div i {
      color: rgb(218, 59, 194);


}

.slideBoxes div h3 {
      font-size: 14px;
      text-transform: capitalize;
}

.slideBoxes div p {
      font-size: 12px;
      color: gray;

}


.slideText {
      color: white;
      text-align: center;
      padding-top: 25px;
      padding-bottom: 25px;


}

.slideText p {
      font-size: 13px;


}

.slideText button {
      background-color: rgb(218, 59, 194);
      color: white;
      text-transform: uppercase;
      font-size: 12px;
      border-radius: 15px;
      padding: 5px;
      border: 0;


}

/* custom rows*/
/*ROW 1*/

.middleSection {
      width: 75%;
      margin: auto;

}

.middleSection h1 {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;

}




.customRow {
      display: flex;
      flex-direction: row;
      margin-top: 20px;

}

.customRow div {
      width: 50%;
      height: 250px;

}

.customRow .image1 {
      background-image:
            url('https://picsum.photos/id/1060/500/250');
      background-repeat: no-repeat;
      background-size: cover;
}

.customRow .image2 {
      background-image:
            url('https://picsum.photos/id/163/500/250');
      background-repeat: no-repeat;
      background-size: cover;
}


.customRow:nth-child(even) {
      flex-direction: row-reverse;

}

.customRow h3 {
      color: var(--main-color);
}

.customRow .content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding-left: 50px;
      padding-right: 50px;
      box-sizing: border-box;

}

.customRow .content button, .footerSlide button {
      background-color: rgb(218, 59, 194);
      color: white;
      text-transform: uppercase;
      font-size: 12px;
      border-radius: 25px;
      padding: 10px;
      border: 0;
      width: 150px;
}


/*footer slide*/

.footerSlide {
      width: 75%;
      height: 350px;
      position: relative;
      margin: auto;
      margin-top: 50px;


      display: flex;
      flex-direction: row;
      justify-content: center;

      padding-left: 100px;
      padding-right: 100px;
      padding-top: 100px;
      padding-bottom: 75px;
}


.footerSlide div {
      z-index: 1;
      color: white;


}







.footerSlide::before {
      content: '';
      background-image: url('https://picsum.photos/id/20/1920/450');
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;





      filter: blur(3px) brightness(0.5);
      background-size: cover;


}


.footerSlide div:first-child,
.footerSlide div :nth-child(2) {

      width: 25%;
}


.footerSlide div:last-child {
         width: 50%;

}






.footerSlide div:last-child h3 {
         font-size: 35px;
         margin bottom: 30px;
         margin-top: 5px;


}     

.footerSlide a {
     color:var(--main-color);
}

/* team members */


.team{
     width: 75%;
     margin: auto;



}




.team h1{
      text-align: center;
       font-size: 40px;
      margin-top: 75px;
}


.team div{
      display: flex;
      justify-content: center;
}
.team .teamMember{
     width: 200px;
     height: 200px;

}

.team div div{

      margin-left: 10px;
}



